
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
*.pyc
__pycache__/main.cpython-310.pyc
__pycache__/shop.cpython-310.pyc
__pycache__/use.cpython-310.pyc
__pycache__/use.cpython-310.pyc
__pycache__/shop.cpython-310.pyc
__pycache__/main.cpython-310.pyc
save.json
.idea/vcs.xml
.idea/Python-room-generation.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/discord.xml
